<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="db.driver">com.mysql.jdbc.Driver</entry>
    <entry key="db.url">jdbc:mysql://192.168.1.123:3306/corplus</entry>
    <!--<entry key="db.url">jdbc:mysql://localhost:3306/corplus</entry>-->
    <entry key="db.username">corplus</entry>
    <entry key="db.password">corplus</entry>

    <entry key="encrypt.position">7</entry>
    <entry key="encrypt.code">T</entry>

    <entry key="xml.import.account">./import/account.xml</entry>
</properties>