<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global">

    <sql id="logicDeleteById">
        update ${tableName} set deleted = #{deleted}, delete_time = #{deleteTime} where id = #{id}
    </sql>

</mapper>